<div id="search" class="header__search">
	<input class="input" name="search" value="{{ search }}" type="text" placeholder="{{ palceholder_search_n }}">
	<button type="button"><img src="/catalog/view/theme/default/images/i-search.svg"></button>
</div>
