/*
 * ColorPicker by Stefan Petre www.eyecon.ro
 * AlexDW Edition 1.02
 */
.colorpicker {
	width: 356px;
	height: 176px;
	overflow: hidden;
	position: absolute;
	background: url(../images/index.png) no-repeat;
	background-position: -0px -0px; width: 356px; height: 176px;
	font-family: Arial, Helvetica, sans-serif;
	display: none;
	z-index: 99;
}
.colorpicker_color {
	width: 150px;
	height: 150px;
	left: 14px;
	top: 13px;
	position: absolute;
	background: #f00;
	overflow: hidden;
	cursor: crosshair;
}
.colorpicker_color div {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(../images/index.png) no-repeat;
	background-position: -0px -352px; width: 150px; height: 150px;
}
.colorpicker_color div div {
	position: absolute;
	top: 0;
	left: 0;
	width: 11px;
	height: 11px;
	overflow: hidden;
	background: url(../images/colorpicker_select.gif);
	margin: -5px 0 0 -5px;
}
.colorpicker_hue {
	position: absolute;
	top: 13px;
	left: 171px;
	width: 35px;
	height: 150px;
	cursor: n-resize;
}
.colorpicker_hue div {
	position: absolute;
	width: 35px;
	height: 9px;
	overflow: hidden;
	background: url(../images/index.png) no-repeat;
	background-position: -310px -550px; width: 35px; height: 9px;
	margin: -4px 0 0 0;
	left: 0px;
}
.colorpicker_new_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 213px;
	top: 13px;
	background: #f00;
}
.colorpicker_current_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 283px;
	top: 13px;
	background: #f00;
}
.colorpicker input {
	background-color: transparent;
	border: 1px solid transparent;
	position: absolute;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #898989;
	top: 5px;
	right: 11px;
	text-align: right;
	margin: 0;
	padding: 0;
	height: 11px !important;
}
.colorpicker_hex {
	position: absolute;
	width: 72px;
	height: 22px;
	background: url(../images/index.png) no-repeat;
	background-position: -150px -352px; width: 72px; height: 22px;
	left: 212px;
	top: 142px;
}
.colorpicker_hex input {
	right: 6px;
}
.colorpicker_field {
	height: 22px;
	width: 62px;
	background-position: top;
	position: absolute;
}
.colorpicker_field span {
	position: absolute;
	width: 12px;
	height: 22px;
	overflow: hidden;
	top: 0;
	right: 0;
	cursor: n-resize;
}
.colorpicker_rgb_r {
	background: url(../images/index.png) no-repeat;
	background-position: -212px -462px; width: 62px; height: 22px;
	top: 52px;
	left: 212px;
}
.colorpicker_rgb_g {
	background: url(../images/index.png) no-repeat;
	background-position: -150px -462px; width: 62px; height: 22px;
	top: 82px;
	left: 212px;
}
.colorpicker_rgb_b {
	background: url(../images/index.png) no-repeat;
	background-position: -274px -418px; width: 62px; height: 22px;
	top: 112px;
	left: 212px;
}
.colorpicker_hsb_h {
	background: url(../images/index.png) no-repeat;
	background-position: -150px -396px; width: 62px; height: 22px;
	top: 52px;
	left: 282px;
}
.colorpicker_hsb_s {
	background: url(../images/index.png) no-repeat;
	background-position: -212px -396px; width: 62px; height: 22px;
	top: 82px;
	left: 282px;
}
.colorpicker_hsb_b {
	background: url(../images/index.png) no-repeat;
	background-position: -294px -352px; width: 62px; height: 22px;
	top: 112px;
	left: 282px;
}
.colorpicker_submit {
	position: absolute;
	width: 22px;
	height: 22px;
	background: url(../images/index.png) no-repeat;
	background-position: -310px -559px; width: 22px; height: 22px;
	left: 322px;
	top: 142px;
	overflow: hidden;
}
.colorpicker_submit.colorpicker_focus {
	background-position: -310px -581px; width: 22px; height: 22px;
}
.colorpicker_hex.colorpicker_focus {
	background-position: -150px -374px; width: 72px; height: 22px;
}
.colorpicker_rgb_r.colorpicker_focus {
	background-position: -212px -484px; width: 62px; height: 22px;
}
.colorpicker_rgb_r.colorpicker_slider {
	background-position: -212px -506px; width: 62px; height: 22px;
}
.colorpicker_rgb_g.colorpicker_focus {
	background-position: -150px -484px; width: 62px; height: 22px;
}
.colorpicker_rgb_g.colorpicker_slider {
	background-position: -150px -506px; width: 62px; height: 22px;
}
.colorpicker_rgb_b.colorpicker_focus {
	background-position: -274px -440px; width: 62px; height: 22px;
}
.colorpicker_rgb_b.colorpicker_slider {
	background-position: -274px -462px; width: 62px; height: 22px;
}
.colorpicker_hsb_h.colorpicker_focus {
	background-position: -150px -418px; width: 62px; height: 22px;
}
.colorpicker_hsb_h.colorpicker_slider {
	background-position: -150px -440px; width: 62px; height: 22px;
}
.colorpicker_hsb_s.colorpicker_focus {
	background-position: -212px -418px; width: 62px; height: 22px;
}
.colorpicker_hsb_s.colorpicker_slider {
	background-position: -212px -440px; width: 62px; height: 22px;
}
.colorpicker_hsb_b.colorpicker_focus {
	background-position: -294px -374px; width: 62px; height: 22px;
}
.colorpicker_hsb_b.colorpicker_slider {
	background-position: -294px -396px; width: 62px; height: 22px;
}