<script> 
$(document).ready(function(){
	$('a[href$="order_id={{ order_id }}"]').before('<a style="margin-right:4px;" class="btn btn-info art_button" href="{{ href }}" >{{ pay_text }}</a> '
	); 
}); 
</script>